<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <style>
        body {
            text-align: center;
        }

        table {
            text-align: left;
            margin-left: auto;
            margin-right: auto;
        }

        td, th {
            width: 27%;
        }

        td > input {
            position: relative;
            width: 80%;
        }

        td > button {
            position: relative;
            width: 40px;
        }
    </style>
</head>
<body>
<h2>Settings</h2>
<br><br>
<table id="settingsTable">
    <tr>
        <th>Key</th>
        <th>Value</th>
        <th>New Value</th>
    </tr>
    {% for key, val in settings.items() %}
    <tr id="setting{{loop.index}}">
        <td>{{key}}</td>
        <td>{{val}}</td>
        <td>
            <input class="value" id="{{key}}" name="{{key}}" type="text" value="{{val}}">
            <button onclick="removeSetting('setting{{loop.index}}')">&#10005;</button>
        </td>
    </tr>
    {% endfor %}
</table>
<br><br>
<span id="error"></span>
<button id="saveSettings" onclick="saveSettings()">Save</button>
<button id="reload" onclick="window.location.reload(true)">&#8635;</button>
<button id="newSetting" onclick="newSetting()">New</button>
<script>
    let settings = {}
    let newSettingsCounter = 0

    function removeSetting(_id) {
        let setting = document.getElementById(_id)
        setting.parentNode.removeChild(setting)
    }

    function newSetting() {
        let tr = document.createElement("tr")
        let td_key = document.createElement("td")
        let td_val = document.createElement("td")
        let td_new = document.createElement("td")
        let in_key = document.createElement("input")
        let in_new = document.createElement("input")
        let del = document.createElement("button")

        tr.id = `newSetting${newSettingsCounter}`

        in_key.type = "text"
        in_key.classList.add("newSettingKey")

        in_new.type = "text"
        in_new.classList.add("newSettingValue")
        in_new.value = "0"

        del.id = `delnewSetting${newSettingsCounter}`
        del.innerHTML = "&#10005;"
        del.onclick = (event) => {
            removeSetting(event.target.id.slice(3))
        }

        td_key.appendChild(in_key)
        td_new.appendChild(in_new)
        td_new.appendChild(del)

        tr.appendChild(td_key)
        tr.appendChild(td_val)
        tr.appendChild(td_new)

        document.getElementById("settingsTable").appendChild(tr)
    }

    function saveSettings() {
        let values = document.getElementsByClassName("value")
        let newKeys = document.getElementsByClassName("newSettingKey")
        let newValues = document.getElementsByClassName("newSettingValue")

        for (let i = 0; i < values.length; i++) {
            console.log(values[i].id, values[i].value)
            settings[values[i].id] = JSON.parse(values[i].value)
        }

        for (let i = 0; i < newKeys.length; i++) {
            if (newKeys[i].value === "") continue
            try {
                settings[newKeys[i].value] = JSON.parse(newValues[i].value)
            } catch (err) {
                document.getElementsById("error").innerHTML = `KEY: ${newKeys[i].value}\nERROR ${err}`
            }
        }

        let url = new URL(window.location.href)
        url.pathname = "/settings_write/"
        url.searchParams.set("settings", JSON.stringify(settings))

        window.location = url.href
    }
</script>
</body>
</html>