<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings Written</title>
    <style>
        body {
            text-align: center;
        }

        table {
            text-align: left;
            width: 81%;
            margin-left: auto;
            margin-right: auto;
        }

        td, th {
            width: 27%;
        }
    </style>
</head>
<body style="text-align: center">
<h2>Settings written</h2>
<br><br>
<table id="settingsTable">
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    {% for key, val in settings.items() %}
    <tr>
        <td>{{key}}</td>
        <td>{{val}}</td>
    </tr>
    {% endfor %}
</table>
<br><br>
<button id="editor" onclick="window.location = '/settings/'">Settings</button>
</body>
</html>